<p>{{ _l('Dear') }} {{ user.username }},</p>
<p>
    {{ _l('To reset your password') }}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        {{ _l('click here') }}
    </a>.
</p>
<p>{{ _l('Alternatively, you can paste the following link in your browser's address bar:'') }}</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>{{ _l('If you have not requested a password reset simply ignore this message.') }}</p>
<p>{{ _l('Sincerely,') }}</p>
<p>{{ _l('The Flask Notes Team') }}</p>