<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Flask Notes</a>
    <ul class="nav">
      {% if current_user.is_anonymous %}
        <li class="nav-item mr-sm-2"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.register') }}" role="button">{{ _('Register') }}</a></li>
        <li class="nav-item"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">{{ _('Log In') }}</a></li>
        {% else %}
        {% if g.search_form %}
        <form class="form-inline my-2 my-lg-0 navbar-left" method="get"
                action="{{ url_for('notes.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control',
                    placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
        {% endif %}
        <li class="nav-item"><a class="nav-link nav-item dropdown text-white mr-sm-3" href="{{ url_for('user.profile', username=current_user.username) }}" role="button">{{ current_user.username }}</a></li>
        <li class="nav-item"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.logout') }}" role="button">{{ _('Log Out') }}</a></li>
      {% endif %}
    </ul>
  </nav>