<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Flask Notes</a>
    <ul class="nav">
      {% if current_user.is_anonymous %}
        <li class="nav-item mr-sm-2"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.register') }}" role="button">{{ _('Register') }}</a></li>
        <li class="nav-item"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">{{ _('Log In') }}</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link nav-item dropdown text-white mr-sm-3" href="{{ url_for('user.profile', username=current_user.username) }}" role="button">{{ current_user.username }}</a></li>
        <li class="nav-item"><a class="nav-link btn btn-secondary" href="{{ url_for('auth.logout') }}" role="button">{{ _('Log Out') }}</a></li>
      {% endif %}
    </ul>
  </nav>