<!doctype html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Flask Notes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
</head>
<body>
  <!-- Include Navbar -->
  {% include '_navbar.html' %}
  <div class="container">
    <section class="content mb-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-3" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </section>
  </div>
  <footer class="footer container-fluid p-3 bg-light text-center" id="footer">
    <div>
      <div class="container">
        <span class="text-muted">
          {{ _('Made with Flask') }}
        </span>
      </div>
    </div>
  </footer>
</body>