{% extends 'base.html' %}
{% block title %}Notes{% endblock %}

{% block content %}
  <div class="p-3">
    {% if g.user %}
      <a class="btn btn-success" href="{{ url_for('notes.create') }}" role="button">Add Note</a>
    {% endif %}
  </div>
  {% for note in notes %}
    <div class="card">
      <div class="card-header">
        <div class="d-flex">
          <h2 class="mr-sm-3">{{ note.title }}</h2>
          <div class="p-1">
            {% if g.user.id == note.author_id %}
            <form action="{{ url_for('notes.delete', id=note['id']) }}" method="note">
                <a class="btn btn-secondary btn-sm" href="{{ url_for('notes.update', id=note.id) }}" role="button">Edit</a>
                <input class="btn btn-danger btn-sm" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
              </form>
              {% endif %}
          </div>
          </div>
          <div class="about">{{ note.created_at.strftime('%Y-%m-%d') }}</div>
      </div>
      <div class="card-body">
        <div class="note-content">{{ note.body }}</div>
      </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}