{% extends 'base.html' %}
{% block title %}Edit Note{% endblock %}

{% block content %}
  <div class="p-3">
    {% block header %}
    <h1>Edit "{{ note['title'] }}"</h1>
    {% endblock %}
    <hr>
    <form method="post" action="" novalidate>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <div class="form-group">
        {% if form.title.errors %}
          {{ form.title.label() }}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          {% for error in form.title.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        {% else%}
          {{ form.title.label() }}
          {{ form.title(class="form-control form-control-lg")}}
        {% endif%}
      </div>
      <div class="form-group">
        {% if form.body.errors %}
          {{ form.body.label() }}
          {{ form.body(class="form-control form-control-lg is-invalid") }}
          {% for error in form.body.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        {% else%}
          {{ form.body.label() }}
          {{ form.body(class="form-control form-control-lg", rows="10", cols="50")}}
        {% endif%}
      </div>
        {{ form.submit(class="btn btn-success btn-md")}}
    </form>
    <hr>
    <form action="{{ url_for('notes.delete', id=note['id']) }}" method="note">
      <input class="btn btn-danger btn-md" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
  </div>
  {{  ckeditor.load() }}
  {{  ckeditor.config(name="body")}}
{% endblock %}