{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="p-3">
		{% block header %}
			<h1>{{ title }}</h1>
		{% endblock %}
	<hr>
		<div class="card">
      <div class="card-header">
		<img class="mb-3" src="{{ user.avatar(128) }}">
		<h2 class="mr-sm-3">{{ user.username }}</h2>
		<p>{{ _('Last seen on:') }} {{ moment(user.last_seen).format('LLL') }}</p>
		<div class="p-1">
		<a class="btn btn-secondary btn-sm" href="{{ url_for('user.edit_profile', username=current_user.username) }}" role="button">{{ _('Edit') }}</a>
		</div>
      </div>
			<div class="card-body">
				<p>{{ _('Username:') }} {{  user.username }}</p>
				<p>{{ _('Email:') }} {{  user.email }}</p>
			</div>

		</div>

	</div>
{% endblock %}